@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.m-right {
	margin-right: 5% !important;
	margin-bottom: 5% !important;
}

.m-left {
	margin-left: 5% !important;
	margin-bottom: 5% !important;
}

.root {
	width: 100%;
	flex-grow: 1;
}

.navbar {
	background-color: white !important;
	display: flex !important;
}

.nav-logo {
	width: 100%;
	height: 100%;
	
}

.nav-link {
	width: 150px;
	margin-right: 2%;
}

.nav-logo .link {
	color: #2980B9;
}

.nav-head {
	color: black !important;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: normal !important;
}

.btn-bar {
	display: flex !important;
	justify-content: flex-end !important;
	flex-grow: 1 !important;
}

@media screen and (max-width: 640px) {
	.nav-head {
		display: none;
	}
}

@media screen and (max-width:460px) {
	
	.nav-logo {
		width: 100%;
	}
	.logout-btn {
		font-size: 0.7rem !important;
	}
	.login {
		font-size: 0.7rem !important;
	}

	.btn-bar {
		width: 100% !important;
	}
}

.login {
	color: white !important;
	background-color: #2980B9 !important;
	font-weight: bold !important;
}

.login:hover {
	background-color: #2f98df !important;
}

.btn-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logout-btn {
	background-color: coral !important;
	color: white !important;
	font-weight: bold !important;
}

.logout-btn:hover {
	background-color: rgb(199, 100, 64) !important;
}

.cancel-btn {
	background-color: #2980b9 !important;
	color: white !important;
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
}

.cancel-btn:hover {
	background-color: #2f98df !important;
}

.link {
	text-decoration: none;
	color: black;
}

.nav-user {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 1rem !important;
	margin: 0;
	color: black !important;
	margin-right: 2% !important;

	align-self: center;
}

@media screen and (max-width: 400px) {
	.nav-logo {
		font-size: 1rem !important;
		margin-right: 5% !important;
	}
	.nav-head {
		font-size: 0.8rem !important;
	}
	.nav-user {
		font-size: 0.8rem !important;
	}
}


@media screen and (max-width: 280px) {
	.nav-user {
		display: none;
	}
	.nav-logo {
		font-size: 0.7rem !important;
	}
}

@media screen and (max-width: 460px) {
	.cancel-btn {
		font-size: 0.7rem !important;
	}
}