.profile-section {
	padding: 5% !important;
}

.profile-param {
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	color: #35a1e9 !important;

	padding-bottom: 2% !important;
}

.profile-data {
	font-weight: normal !important;
	color: black !important;
}

@media screen and (max-width: 420px) {
	.profile-section {
		padding-top: 10% !important;
	}
	.profile-param {
		font-size: 1.1rem !important;
	}
}

.profile-btn {
	background-color: #2980b9 !important;
	color: white !important;
	font-weight: bold !important;
	font-family: "Montserrat", sans-serif !important;
}

.update-prof-btn {
	margin-right: 3% !important;
}

@media screen and (max-width: 400px) {
	.profile-btn {
		font-size: 0.7rem !important;
	}
}

.resp-text {
	word-wrap: break-word;
}