

.btn-red {
	min-width: 120px;
    color: white !important;
	border: 2px solid red !important;
	margin-top: 5% !important;
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	letter-spacing: 3px !important;
}

.btn-red:hover {
	background-color: red !important;
}

.btn-blue {
	min-width: 120px;
    color: white !important;
	border: 2px solid rgb(32, 121, 204) !important;
	margin-top: 5% !important;
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	letter-spacing: 3px !important;
}

.btn-blue:hover {
	background-color: rgb(32, 121, 204) !important;
}

.btn-orange {
	min-width: 120px;
    color: white !important;
	border: 2px solid orange !important;
	margin-top: 5% !important;
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	letter-spacing: 3px !important;
}

.btn-orange:hover {
	background-color: orange !important;
}

.bg{
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 0 !important;
    min-height: calc(100vh - 64px);
}

@media only screen and (max-width: 600px){
    .bg{
        min-height: calc(100vh - 56px);
    }
}

.material-icons {
	color: white !important;
}

.MuiInputBase-input {
	color: white !important;
}

.MuiTablePagination-selectIcon {
	color: white !important;
}

.MuiTypography-caption, .MuiTableSortLabel-root  {
	color: white !important;
}

.MuiRadio-root {
	color: orange !important;
}

.correct-head {
	color: white !important;
}