.dashboard-page {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	padding-top: 2% !important;
}

@media screen and (max-width: 768px) {
	.dashboard-page {
		background-color: white !important;
		padding-top: 5% !important;
	}

	.tab-bar {
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.12) !important;
	}
}

.dash-head {
	font-family: "Montserrat", sans-serif !important;
	font-weight: bolder !important;
	letter-spacing: 2px !important;
	padding-bottom: 2% !important;
	text-align: center;
}

.dash-section {
	background-color: white !important;
	width: 100% !important;
	/* min-height: 80vh !important; */
}

.bg-white {
	background-color: white !important;
}

.MuiTab-textColorPrimary.Mui-selected {
	color: #2980b9 !important;
	font-weight: bold !important;
}

.MuiTabs-indicator {
	background-color: #2980b9 !important;
}

@media screen and (max-width: 500px) {
	.dash-head {
		font-size: 1.5rem !important;
	}
}