.edit-quiz-page {
	background-color: white !important;
	padding: 0 5% !important;

	min-height: calc(100vh - 64px);
	width: 100% !important;
}

.edit-quiz-head {
	color: #2980b9;
	border-bottom: #2980b9 2px solid;
}

@media screen and (max-width: 600px) {
	.edit-quiz-page{
		min-height: calc(100vh - 56px);
	}
}

.p-top {
	padding-top: 3% !important;
}

.edit-btn-bar {
	display: flex;
	justify-content: flex-end;

	margin-top: 3% !important;
}

.edit-details-btn {
	background-color: #2980b9 !important;
	color: white !important;
	font-size: 0.7rem !important;
	font-weight: bold !important;

	padding-left: 10px !important;
}

.edit-icon {
	width: 20px !important;
	padding-right: 5px !important;
}

.delete-btn {
	background-color: red !important;
	margin-left: 2% !important;
}

.quiz-details-sec {
	margin-top: 5% !important;
}

.quiz-detail-param {
	font-family: "Monsterrat", sans-serif;
	font-weight: bold !important;

	color: #35a1e9 !important;
	letter-spacing: 2px !important;
}

.quiz-detail-text {
	color: black !important;
}

.quiz-questions-sec {
	margin: 0 5% !important;
	margin-top: 7% !important;
	padding-bottom: 7% !important;

}

.quiz-questions-head {
	text-align: center;
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	color: #35a1e9 !important;
	border-bottom: #35a1e9 2px solid;
	margin-bottom: 3% !important;
}

@media screen and (max-width: 500px) {
	.quiz-questions-head {
		font-size: 1.2rem !important;
	}
}

.popover-text {
	font-size: 0.8rem !important;
	padding: 3%;
	text-align: center;
}

.add-question-bar {
	display: flex;
	justify-content: flex-end;
}

.add-question-btn {
	background-color: green !important;
	color: white !important;
	font-weight: bold !important;
	font-size: 0.7rem !important;
}

.add-ques-heading  {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;

	margin: 0 5% !important;
}

.add-ques-heading h6 {
	width: 100% !important;
}

.add-info-icon {
	justify-content: flex-start !important;
	align-items: center !important;

	color: rgb(46, 144, 255) !important;
}

.dropzone {
	padding: 3%;
	padding-top: 5%;
	text-align: center;
	background-color: #ccc;
	margin: 0 5%;
	margin-bottom: 3%;
	border-radius: 5px;
}

.drop-icon {
	color: rgb(110, 110, 110) !important;
	font-size: xx-large !important;
}

.manual-head {
	text-align: center;
	line-height: 0.5;

	color: rgb(180, 180, 180);
}

@media screen and (max-width: 900px) {
	.manual-head {
		font-size: 0.8rem !important;
	}
}

.manual-head span {
	display: inline-block;
	position: relative;
}

.manual-head span:before,
.manual-head span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid rgb(180, 180, 180);
  border-top: 1px solid rgb(180, 180, 180);
  top: 0;
  width: 600px;
}

.manual-head span:before {
	right: 100%;
	margin-right: 15px;
  }
.manual-head span:after {
	left: 100%;
	margin-left: 15px;
  }

.new-question-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 3% 5% !important;
}

.new-ques-input {
	width: 100% !important;
	margin-bottom: 3% !important;
}

.correct-answer-select .MuiInputBase-input {
	color: black !important;
}

.add-question-submit {
	background-color: green !important;
	color: white !important;
	font-weight: bold !important;
	letter-spacing: 2px !important;

	margin-top: 5% !important;
}

@media screen and (max-width: 598px) {
	.add-question-submit {
		font-size: 0.8rem !important;
	}
}

.questions-list-display {
	margin-top: 2% !important;
	padding-bottom: 5% !important;
}

.question-label {
	display: flex !important;
	align-items: center !important;
}

.bg-red-btn {
	background-color: red !important;
}

.bg-red-btn:hover {
	background-color: rgb(192, 0, 0) !important;
}

.stats-btn {
	background-color: blueviolet !important;
}

.bg-green-btn {
	background-color: green !important;
}
.bg-green-btn:hover {
	background-color: rgb(0, 95, 0) !important;
}

.search-bar {
	margin-top: 3% !important;
	width: 100%;
	display: flex;
	flex-grow: 1;

	align-items: flex-end !important;
}

.search-input {
	width: 100% !important;
}