.error-section {
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100vh - 64px);
	text-align: center;
}

.error-msg {
	font-family: "Montserrat", sans-serif !important;
	font-size: 4rem !important;
	padding: 0 5%;
}

@media screen and (max-width: 700px) {
	.error-msg {
		font-size: 2rem !important;
	}
}