/* Button taken from: https://codepen.io/jimjammc/pen/PMOVZB */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:500); */

.google-link {
	margin-top: 4%;
}

.google-btn {
	width: 184px;
	height: 42px;
	background-color: #4285f4;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}

.google-icon-wrapper {
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background-color: white;
}

.google-icon {
	position: absolute;
	margin-top: 11px;
	margin-left: 11px;
	width: 18px;
	height: 18px;
}

.google-btn .btn-text {
	float: right;
	margin: 13px 6px 0 10px;
	color: white;
	font-size: 12px;
	letter-spacing: 0.2px;
	font-family: "Montserrat", sans-serif;
} 

.google-btn:hover {
	box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
	background: #1669f2;
}

