.material-icons {
	color: white !important;
}

.MuiInputBase-input {
	color: white !important;
}

.MuiTablePagination-selectIcon {
	color: white !important;
}

.MuiTypography-caption, .MuiTableSortLabel-root  {
	color: white !important;
}

.MuiRadio-root {
	color: #2980b9 !important;
}

.correct-head {
	color: white !important;
}