.marks-page {
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100vh - 64px);
	text-align: center;
}

.congo {
	font-family: "Montserrat", sans-serif !important;
	font-size: 2rem !important;
	padding: 0 5%;
}

.marks {
	font-family: "Montserrat", sans-serif !important;
	font-size: 3rem !important;
	padding: 2% 5%;
}

.value {
	display:inline !important;
	color: orange !important;
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	.congo {
		font-size: 1.2rem !important;
	}
	.marks {
		font-size: 1.5rem !important;
	}
}