.owner-page {
	background-color: white !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.owner-tab {
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.12) !important;
}

.owner-quizzes {
	padding: 0 5% !important;
}