.signup-btn {
	margin-bottom: 0 !important;
}



@media screen and (max-width: 970px) {
	.signup-text {
		font-size: 2.3rem !important;
	}
}

@media screen and (max-width: 380px) {
	.signup-text {
		font-size: 1.8rem !important;
		margin-bottom: -5% !important;
	}
}