.result-page {
	background-color: white;
	padding-top: 1.5% !important;

	min-height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
	.result-page {
		min-height: calc(100vh - 56px);
	}
}

.result-head {
	text-align: center;
}

.result-title {
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	color: #2980b9 !important;
	border-bottom: 3px solid #2980b9 !important;
}

.result-quiz-info {
	padding: 2% 2% !important;
	padding-top: 5% !important;
}

.result-quiz-info h5 {
	font-family: "Montserrat", sans-serif !important;
}

.result-responses {
	padding: 3% 5% !important;
}

.result-response-title {
	text-align: center;
}

.result-response-title h5 {
	font-family: "Montserrat", sans-serif !important;
	font-weight: bold !important;
	color: #35a1e9 !important;
	font-size: 1.7rem !important;

	border-bottom: 3px solid #35a1e9;
}

.result-responses-list {
	padding-top: 3% !important;
}
